@media (max-width: 350px){                                                                                                
	.botones {
		display: flex;                                                                                                    
		justify-content: center;                                                                                          
		align-content: center;                                                                                            
		flex-direction: column;                                                                                           
	}                                                                                                                     
    .detener{                                                                                                             
		margin-top: 2px;                                                                                                  
		width: 150px;
	}                                                                              
	
	.pedirCarta{                                                                                                          
		margin-top: 2px;                                                                                                  
	}
}       
